@model ModelStd.Db.Identity.AppUser

<li>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">
            سلام @Model.Email!
        </a>
        <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-primary">
            Log Out
        </a>
    </div>
</li>


