@model ModelStd.Db.Identity.AppUser

<li>
    <div>
        <a asp-area="" asp-controller="Account" asp-action="AccountManagement" class="btn btn-primary">
            <span class="text-right" dir="rtl">سلام @Model.FirstNameEx @Model.LastNameEx</span>
        </a>
        <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-primary">
            Log Out
        </a>
    </div>
</li>


