<!DOCTYPE html>
<html>
<head>
    <title>ChiKoja</title>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="panel-body">
    @RenderBody()
</body>
</html>