<footer class="container-fluid text-center">
    <div id="footer-middle">
    </div>
    <div id="footer-bottom">

        <div class="row">
            <div class="col-xs-12">
                <p>&copy; 2017 - whereismycar</p>
            </div>
            <div class="col-xs-12">
                Designed By Ali Nejati
            </div>

        </div>
    </div>
</footer>