<footer class="container-fluid text-center">
    <div id="footer-middle" style="direction: rtl">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 col-sm-push-4">
                <div>
                    <h3>درباره ما</h3>
                    <div>
                        <p>
                            <bdi>
                                شرکت آنام سرکان با بیش از 25 سال سابقه در زمینه تامین انواع روانسازهای صنعتی، موتوری و کشاورزی و همچنین داشتن کادر مشاوره و فروش مجرب افتخار دارد در خدمت صنعت کشور بوده و در این مدت با شرکتهای راه سازی و عمرانی کشور همکاری داشته است. لذا این شرکت آمادگی خود را در جهت تامین انواع روانسازهای صنعتی و موتوری و کشاورزی و ماشین آلات راه سازی اعلام می دارد.
                            </bdi>
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-pull-4">
                <h3>آدرس</h3>
                تهران، فلکه دوم صادقیه، بلوار اشرفی اصفهانی، نرسیده به بلوار مرزداران، برج نگین رضا
                <br/>
                <div class="text-left" style="direction: ltr">
                    <span class="glyphicon glyphicon-earphone"></span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    021 - 44034117
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    021 - 44034116
                    <br/>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    info@anamserkan.ir
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div id="footer-bottom">

        <div class="row">
            <div class="col-xs-12">
                &copy; 2017 - anamserkan
            </div>
            <div class="col-xs-12">
                 Designed By Ali Nejati
            </div>

        </div>
    </div>
</footer>