<div class="row page-title">
    <div class="col-sm-6 col-sm-push-6 text-right">
        <h1>@ViewData["PageTitle"]</h1>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
        <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Log Out</a>
        &nbsp;&nbsp;&nbsp;
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Users</a>
        &nbsp;&nbsp;&nbsp;
        <a asp-controller="RoleAdmin" asp-action="Index" class="btn btn-primary">Roles</a>
    </div>

</div>