<div class="sidenav">
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">خانه</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="About">درباره ما</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Contact">تماس با ما</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Products">محصولات</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Equivalent">جدول معادل یابی روغن</a>
        </li>
    </ul>
</div>