<div class="sidenav">
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">خانه</a>
        </li>
        <li>
            <a asp-area="" asp-controller="NewAd" asp-action="Index">ثبت آگهی جدید</a>
        </li>
        <li>
            <a asp-area="" asp-controller="LetMeKnow" asp-action="Index">به من اطلاع بده</a>
        </li>
    </ul>
</div>