<div class="row top-top">
    <div class="col-sm-12">
        <ul class="nav navbar-nav" style="padding:10px;">
            @await Component.InvokeAsync("LoginStatus")
        </ul>  
    </div>
</div>