@using ModelStd.Db.Ad
@using MvcMain.Components.SearchAd.AdTransformation
@model AllVihecles
    
    
<div id="carModel">
<input id="allCarModels" type="hidden" value='@Json.Serialize(Model.AllCarModels)' />
</div>
<div class="col-sm-2 col-sm-push-10">
    <label>برند</label>
</div>
<div class="col-sm-4 col-sm-push-4">
    <select id="brand" class="form-control">
        <option value='0'>تمام برندها</option>
        @foreach (Brand brand in Model.AllBrands)
        {
            @:
            <option value="@brand.BrandId">@brand.BrandName</option>
        }
    </select>
</div>

<div class="col-sm-2 col-sm-pull-2 col-sm-push-0">
    <label>مدل</label>
</div>
<div class="col-sm-4 col-sm-pull-8 col-sm-push-0">
    <select id="model" class="form-control">
        <option value='0'>تمام مدل ها</option>
    </select>
</div>
