@using ModelStd.Db.Ad
@using MvcMain.Components.SearchAd.AdTransformation
@model AllVihecles


<div id="carModel">
    <input id="allCarModels" type="hidden" value='@Json.Serialize(Microsoft.EntityFrameworkCore.Metadata.Internal.Model.AllCarModels)' />
</div>

<div>
    <select id="brand" class="form-control" dir="rtl">
        <option dir="ltr" value="0" >برند</option>
        @foreach (Brand brand in Model.AllBrands)
        {
            @:<option dir="ltr" value="@brand.BrandId">@brand.BrandName</option>
        }
    </select>
    <br/>
    <div id="modelPlaceHolder">
        <select id="model" class="form-control" dir="rtl">
            <option value="0">مدل</option>
        </select>
    </div>
</div>


<script id="modelTemplate" type="text/template">
    <select id="model" class="form-control" dir="rtl">
        <option dir="ltr" value="0" selected="selected">مدل</option>
        {{#carModels}}
        <option dir="ltr" value="{{modelId}}">{{modelName}}</option>
        {{/carModels}}
    </select>
</script>
