@using ModelStd.Db.Ad
@using MvcMain.Components.AdTransformation
@model AllVihecles

<div>
    <div id="carModel">
        <input id="allCarModels" type="hidden" value='@Json.Serialize(Model.AllCarModels)' />
    </div>
    <div class="col-sm-6"><select id="brand" class="form-control" dir="rtl">
        @foreach (Brand brand in Model.AllBrands)
        {
            @:
            <option dir="ltr" value="@brand.BrandId">@brand.BrandName</option>
        }
    </select>
    </div>
    <div class="col-sm-6">
        <div id="modelPlaceHolder">
            <select id="model" class="form-control" dir="rtl">
                <option value="0">مدل</option>
            </select>
        </div>
    </div>
</div>


<script id="modelTemplate" type="text/template">
    <select id="model" class="form-control" dir="rtl">
        <option dir="ltr" value="0" selected="selected">مدل</option>
        {{#carModels}}
        <option dir="ltr" value="{{ModelId}}">{{ModelName}}</option>
        {{/carModels}}
    </select>
</script>
