@using ModelStd.Db.Ad
@model IEnumerable<Brand>

<div class="col-sm-2 col-sm-push-10">
    <label>برند</label>
</div>
<div class="col-sm-4 col-sm-push-4">
    <select id="brands" class="form-control">
        <option value='0'>تمام برندها</option>
        @foreach (Brand brand in Model)
        {
            @:
            <option value="@brand.BrandId">@brand.BrandName</option>
        }
    </select>
</div>

<div class="col-sm-2 col-sm-pull-2 col-sm-push-0">
    <label>مدل</label>
</div>
<div class="col-sm-4 col-sm-pull-8 col-sm-push-0">
    <select id="model" class="form-control">
        <option value='0'>تمام مدل ها</option>
    </select>
</div>
