@model object

<select id="brand" class="form-control">
    <option value="" selected="selected">brand</option>
    <option value="1">peykan</option>
    <option value="2"> pride </option>
    <option value="3">mazda</option>
    <option value="5">nissan</option>
</select>

