@model object
<div class="col-sm-6">
    @await Component.InvokeAsync("BrandsTransformation")    
</div>

@*TODO add other category specific criterias*@

<div class="col-sm-6">
    <input id="fromYear" class="form-control" placeholder="از سال"/>
    <br/>
    <input id="toYear" class="form-control" placeholder="تا سال" />
</div>

<div class="col-sm-6">
    <select id="fuel" class="form-control">
        <option value="UnSpecified" selected="selected">سوخت</option>
        <option value="Petrol">بنزین</option>
        <option value="GasPetrol">دوگانه سوز</option>
        <option value="Disel">دیزل</option>
        <option value="Gas">گاز</option>
        <option value="Electric">الکتریکی</option>
        <option value="Hybrid">هیبرید</option>
    </select>
</div>
<div class="col-sm-6">
    <input id="mileageFrom" class="form-control" placeholder="کارکرد از" />
    <br />
    <input id="mileageTo" class="form-control" placeholder="کارکرد تا" />
</div>

<div class="col-sm-6">
    <select id="gearboxType" class="form-control">
        <option value="UnSpecified" selected="selected">گیربکس</option>
        <option value="Manual">دستی</option>
        <option value="Automatic">اتوماتیک</option>
    </select>
</div>
<div class="col-sm-6">
    <select id="bodyColor" class="form-control">
        <option value="UnSpecified" selected="selected">رنگ بدنه</option>
        <option value="white">سفید</option>
        <option value="black">مشکی</option>
    </select>
</div>
<div class="col-sm-6">
    <select id="internalColor" class="form-control">
        <option value="UnSpecified" selected="selected">رنگ داخلی</option>
        <option value="white">سفید</option>
        <option value="black">مشکی</option>
    </select>
</div>

<div class="col-sm-6">
    <select id="bodyStatus" class="form-control">
        <option value="UnSpecified" selected="selected">وضعیت بدنه</option>
        <option value="NoAccident">بدون تصادف</option>
        <option value="OneAccident">یک تصادف</option>
        <option value="TwoAccidents">دو تصادف</option>
    </select>
</div>
<div class="col-sm-6">
    <select id="carStatus" class="form-control">
        <option value="UnSpecified" selected="selected">صفر، کارکرده، حواله</option>
        <option value="New">صفر</option>
        <option value="Used">کارکرده</option>
        <option value="Draft">حواله</option>
    </select>
</div>
<div class="col-sm-6">
    <select id="plateType" class="form-control">
        <option value="UnSpecified" selected="selected">نوع پلاک</option>
        <option value="National">پلاک ملی</option>
        <option value="FreeRegion">منطقه آزاد</option>
        <option value="Temporary">عبور موقت</option>
    </select>
</div>