@model object
@await Component.InvokeAsync("BrandsTransformation")
@*TODO add other category specific criterias
    FromYear ToYear*@
<br/><br/>
<div class="col-sm-6"><input id="fromYear" class="form-control" placeholder="از سال" /></div>
<div class="col-sm-6"><input id="toYear" class="form-control" placeholder="تا سال" /></div>

<br />



