@model object
<div class="col-sm-6">
    @await Component.InvokeAsync("BrandsTransformation")    
</div>

@*TODO add other category specific criterias
    FromYear ToYear*@

<div class="col-sm-6">
    <input id="fromYear" class="form-control" placeholder="از سال"/>
    <br/>
    <input id="toYear" class="form-control" placeholder="تا سال" />
</div>




