@model object

<select id="brand" class="form-control">
    <option value="" selected="selected">brand</option>
    <option value="1">peykan</option>
    <option value="2"> pride </option>
    <option value="3">mazda</option>
    <option value="5">nissan</option>
</select>

<script>
    function greet() {
        console.log("greet in brand");
    }
</script>
<script src="/js/home/index/src/SearchCriteria/AdTransformationSearchCriteria.js"></script>