<select id="orderBy" class="form-control">
    <option value="" selected="selected">به ترتیب</option>
    <option value="DateAsc">به روزترین آگهی</option>
    <option value="DateDesc">قدیمی ترین آگهی</option>
    <option value="PriceAsc">ارزانترین</option>
    <option value="PriceDesc">گرانترین</option>
</select>