<div id="orderByDiv">
    <select id="orderBy" class="form-control">
        <option value="5" selected="selected">به ترتیب</option>
        <option value="1">به روزترین آگهی</option>
        <option value="2">قدیمی ترین آگهی</option>
        <option value="3">ارزانترین</option>
        <option value="4">گرانترین</option>
    </select>
</div>

<script id="orderByFixedPriceTemplate" type="text/template">
    <select id="orderBy" class="form-control">
        <option value="5" selected="selected">به ترتیب</option>
        <option value="1">به روزترین آگهی</option>
        <option value="2">قدیمی ترین آگهی</option>
        <option value="3">ارزانترین</option>
        <option value="4">گرانترین</option>
    </select>
</script>

<script id="orderByOthersTemplate" type="text/template">
    <select id="orderBy" class="form-control">
        <option value="5" selected="selected">به ترتیب</option>
        <option value="1">به روزترین آگهی</option>
        <option value="2">قدیمی ترین آگهی</option>
    </select>
</script>