@model object

<p>Default Search Criteria View</p>
<script>
    function greet() {
        console.log("greet in default");
    }
</script>
<script src = "/js/home/index/src/SearchCriteria/DefaultSearchCriteria.js" ></script>
