@model ModelStd.Advertisements.AdvertisementCommon

<div class="well">
    <div class="row">
        <div class="col-sm-2 text-right">
            عنوان
        </div>
        <div class="col-sm-4">
            @Model.AdTitle
        </div>
        <div class="col-sm-2 text-right">
            
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right">
            
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right">
            
        </div>
        <div class="col-sm-4">
           
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <a asp-controller="User" asp-action="DeleteAd"
               asp-route-adGuid="@Model.AdId" class="btn btn-lg btn-danger">حذف</a>    
        </div>
        <div class="col-xs-3">
            <a asp-controller="User" asp-action="EditAd"
               asp-route-adGuid="@Model.AdId" class="btn btn-lg btn-primary">ویرایش</a>
        </div>
        <div class="col-xs-3">
            <a asp-controller="User" asp-action="UpdateAd"
               asp-route-adGuid="@Model.AdId" class="btn btn-lg btn-success ">بروزرسانی</a>
        </div>
    </div>
</div>