@model object

<div class="well">
    <div class="row">
        <div class="col-sm-4">
            @await Component.InvokeAsync("BrandsTransformation")
        </div>
        <div class="col-sm-4 ">
            Let Me Know Transformation
        </div>
        <div class="col-sm-4">


        </div>
    </div>
</div>

