<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section queryName="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>

    <add queryName="petropas_dbConnectionString" connectionString="Data Source=.\;Initial Catalog=ayoobfar_db;Persist Security Info=True;User ID=ayoobfar_ali;Password=119801" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <!--<system.serviceModel>
    <services>
      <service name="WcfService.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2112"/>
          </baseAddresses>
        </host>
        <endpoint address="WcfService"
                  binding="basicHttpBinding"
                  contract="WcfService.IService1"/>
        <endpoint address="net.tcp://localhost:2113/WcfService"
                  binding="netTcpBinding"
                  contract="WcfService.IService1"/>
      </service>
      <service name="WcfService.AdvertisementCommonService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2112"/>
          </baseAddresses>
        </host>
        <endpoint address="WcfService"
                  binding="basicHttpBinding"
                  contract="WcfService.IAdvertisementCommonService"/>
        <endpoint address="net.tcp://localhost:2113/WcfService"
                  binding="netTcpBinding"
                  contract="WcfService.AdvertisementCommonService"/>
      </service>
      
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>
