<div class="text-right">
    <div class="col-sm-6">
        <select id="priceType" class="form-control">
            <option value="6" selected="selected">قیمت</option>
            <option value="1">مقطوع</option>
            <option value="2">توافقی</option>
            <option value="3">جهت معاوضه</option>
            <option value="4">قسطی</option>
        </select>
    </div>
    <div id="fixedPrice" class="col-sm-6" hidden="hidden">
        <div class="col-sm-6">
            <input id="maxPrice" class="form-control" placeholder="تا قیمت" />
        </div>
        <div class="col-sm-6">
            <input id="minPrice" class="form-control" placeholder="از قیمت" />
        </div>
    </div>
</div>





