@import 'TopTop.scss';
@import 'Navbar.scss';



.row.content {
    height: 450px
}


.sidenav {
    padding-top: 20px;
    background-color: #EE82EE;
    height: 100%;
}


footer {
    background-color: #DDA0DD;
    color: white;
    padding: 15px;
}

.myLinks {
    background-color: #CCCCCC;
}

.myLinks:hover {
    background-color: #999;
}

.adContainer {
    display: table;
    text-align: center;
}

.ajaxServerCall {
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

    .ads {
        display: none;
    }
}
