@model CreateModel

    <div class="bg-primary panel-body"><h4>ایجاد کاربر جدید</h4></div>
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="well">
        <form asp-action="Create" method="post">
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="row form-group">
                <div class="col-sm-2"><label asp-for="Name">نام</label></div>
                <div class="col-sm-10"><input asp-for="Name" class="form-control" placeholder="نام" /></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">
                    <label asp-for="Email">ایمیل</label>
                </div>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" placeholder="ایمیل" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2"><label asp-for="Password">رمز ورود</label></div>
                <div class="col-sm-10"><input asp-for="Password" class="form-control" placeholder="رمز ورود" /></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">ارسال کلمه عبور به ایمیل</button>
                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <form asp-action="Login" method="get">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <button class="btn btn-warning btn-block" type="submit">ورود</button>
                </div>
            </form>
            <form asp-action="PasswordForget" method="get">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <button class="btn btn-success btn-block" type="submit">ایجاد کاربر جدید</button>
                </div>
            </form>
        </div>
    </div>





    <br />
    <div class="row">
        <div class="col-sm-2">
            <asp:Label ID="LabelPassword" runat="server" Text="رمز ورود"></asp:Label>
        </div>
        <div class="col-sm-10">
            <asp:TextBox ID="TextBoxPassword" CssClass="form-control" runat="server" placeholder="رمز ورود" TextMode="Password" Width="100%"></asp:TextBox>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <asp:Label ID="Label1" runat="server" Text="تکرار رمز ورود"></asp:Label>
        </div>
        <div class="col-sm-10">
            <asp:TextBox ID="TextBoxPasswordRepeat" CssClass="form-control" runat="server" placeholder="تکرار رمز عبور" TextMode="Password" Width="100%"></asp:TextBox>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <asp:Label ID="LabelMobilePhoneNumber" runat="server" Text="تلفن همراه"></asp:Label>
        </div>
        <div class="col-sm-10">
            <asp:TextBox ID="TextBoxMobilePhoneNumber" CssClass="form-control" runat="server" placeholder="شماره تلفن همراه 09121234567" Width="100%"></asp:TextBox>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
            <asp:Button ID="ButtonCreateNewUser" CssClass="btn btn-primary btn-lg btn-block" runat="server" Text="ایجاد کاربر جدید" OnClick="ButtonCreateNewUser_Click" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <asp:Button ID="ButtonForgottenPassword" CssClass="btn btn-warning btn-block" runat="server" Text="رمز خود را فراموش کرده ام" OnClick="ButtonForgottenPassword_Click" />
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <asp:Button ID="ButtonLogin" CssClass="btn btn-success btn-block" runat="server" Text="ورود" OnClick="ButtonCreateNewUserPage_Click" />
        </div>
    </div>
    </div>
    </asp:Content>









