@model PasswordForgetModel

<div class="bg-primary panel-body"><h4>فراموشی کلمه عبور</h4></div>
<div class="text-danger" asp-validation-summary="All"></div>
<div class="well">
    <form asp-action="PasswordForget" method="post">
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="row form-group">
            <div class="col-sm-2"><label asp-for="Email">ایمیل</label>
            </div>
            <div class="col-sm-10"><input asp-for="Email" class="form-control" placeholder="ایمیل"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button class="btn btn-primary btn-lg btn-block" type="submit">ارسال کلمه عبور به ایمیل</button>
            </div>
        </div>
    </form>
    <br />
    <div class="row">
        <form asp-action="Login" method="get">
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button class="btn btn-warning btn-block" type="submit">ورود</button>
            </div>
        </form>
        <form asp-action="Create" method="get">
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button class="btn btn-success btn-block" type="submit">ایجاد کاربر جدید</button>
            </div>
        </form>
    </div>
</div>



   
   

    
        
       