@model ModelStd.Advertisements.AdvertisementCommon
<div class="well">
    <div class="row text-right">
        <span>توضیحات</span>
    </div>
    <div class="well">
        <div class="row text-right">
            <span>@Model.AdvertisementComments</span>
        </div>
    </div>
</div>
