@model string[]
<div class="imageSection">
    <ul id="imageGallery">
        @if (Model != null)
        {
            for (int i = 0; i < Model.Length; i += 2)
            {
                @:<li data-thumb="data:image/jpg;base64,@Model[i]" >
                    @:<img style="width: 100%; height: auto" src="data:image/jpg;base64,@Model[i+1]" />
                @:</li>
            }
        }
    </ul>
</div>

@*http://sachinchoolur.github.io/lightslider/*@