@model object

@{
    Layout = "_Layout";
}

<p>This is Default page</p>


<div class="row well">
    <div class="col-sm-12">
        <button class="btn btn-success btn-block btn-lg">جستجو</button>
    </div>
</div>