@model object

@{
    ViewData["Title"] = "خانه";
    ViewData["PageTitle"] = "خانه";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
}
@section TopHeader
{

}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
    <div class="well">
        <div class="row">
            @await Component.InvokeAsync("CategorySelection")
        </div>
        <br/>
        <div class="row">

            <div class="col-sm-6">
                <input id="minPrice" class="form-control" placeholder="از قیمت"/>
                <br/>
                <input id="maxPrice" class="form-control" placeholder="تا قیمت"/>
                <br/>
                <select id="orderBy" class="form-control">
                    <option value="" selected="selected">به ترتیب</option>
                    <option value="DateAsc">به روزترین آگهی</option>
                    <option value="DateDesc">قدیمی ترین آگهی</option>
                    <option value="PriceAsc">ارزانترین</option>
                    <option value="PriceDesc">گرانترین</option>
                </select>
                

            </div>
            <div class="col-sm-6">
                <button id="getAdFromServer" type="submit" class="btn btn-success btn-block btn-lg">جستجو</button>
            </div>
        </div>
    </div>
   
    <div id="adPlaceHolder" class="row">

    </div>
}

@section Footer
{
    @Html.Partial("Footer")
}

@section scripts{
    <script src="~/js/Home/index.js"></script>
    <script src="~/js/TypeScript/HelloWorld.js"></script>
    <script src="~/js/TypeScript/stringDemo.js"></script>
    <script src="~/js/TypeScript/numberDemo.js"></script>
    

    <script id="singleAdItem" type="text/template">        
        <div class="blockDisplay adDetail">
            <a href="./Home/AdDetail?adId={{AdvertisementId}}&categoryId={{AdvertisementCategoryId}}">   
                <div>
                    @*image section*@
                    <div class="imageSection">
                        <img class="image" src="{{adImage}}" />
                        <span class="price">{{adPrice}} تومان</span>
                        <span class="moreInfo">برای دیدن جزییات کلیک کنید</span>
                    </div>
                    @*other info section*@
                    <div class="otherInfo">
                        <div class="col-xs-12 text-center">
                            <span style="overflow: hidden;">{{AdvertisementTitle}}</span>
                        </div>
                        <div class="col-xs-12 text-right">
                            <span>وضعیت آگهی</span>
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            <span>{{AdvertisementStatus}}</span>
                        </div>

                        <div class="col-xs-12 text-right">
                            <span>{{AdvertisementCategory}}</span>
                        </div>

                        <div class="col-xs-12 text-right">
                            <span>{{adDate}}</span>
                        </div>
                    </div>
                </div>
                <br />
            </a>
        </div>
    
    </script>
}







