@model object
<div class="row well">
    <div class="col-sm-4 col-sm-push-8 text-right">
        <label>ارسال عکس</label>
        <br />
        <input id="imageUpload" type="file" name="imageUpload" class="btn btn-info btn-block" />
        <br />
        <div id="labelMessageToUser"></div>
        <br />
    </div>
    <div class="col-sm-8 col-sm-pull-4 col-sm-push-0">
        <div id="loadedImageView" class="row"></div>
    </div>
</div>


<script id="uploadingImageTemplate" type="text/template">
    <div id="uploadingImage{{RequestIndex}}" class='col-sm-2 addedImage'>        
        <img class='img-rounded img-responsive' src="/Resources/Images/loader.gif" />
        <input type='button' class='btn btn-primary btn-block' value='حذف' />
    </div>
</script>


