@using ModelStd.Advertisements
@model IEnumerable<Category>

<select id="category" class="form-control">
    <option value="0" selected="selected">تمام آگهی ها</option>
    @foreach (Category category in Model)
    {
        if (category.ParentCategoryId == 0)
        {
            @:<option value="@category.CategoryId">@category.CategoryName</option>
        }
    }
</select>